$FirstColor:#B4B4C1;
$SecondColor:#d131c6;
$ThirdColor:#A5D4DE;
$ForthColor:#F3F4F9;
$FifthColor:#1D1D28;
$G1: url("../Photo/Grphist/01-p.jpg");
$G2: url("../Photo/Grphist/02-p.jpg");
$G3: url("../Photo/Grphist/03-p.jpg");
$G4: url("../Photo/Grphist/04-p.jpg");
$G5: url("../Photo/Grphist/05-p.jpg");
$G6: url("../Photo/Grphist/06-p.jpg");
// Background-color
// $Bfirst:hsl(345, 12%, 63%, 0.70);
// $BSecond:hsl(560, 0%, 95%, 0.5);
// $BThird:hsl(98, 0%, 86%, 0.20);
// $BForth:hsl(234, 0%, 92%, 0.45);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');