* {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Comfortaa;
}

body {
  position: relative;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin-left: 10%;
}

img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-1 {
  margin-top: 10%;
  background-color: #9cb7e0;
  border-radius: 15px;
  height: 550px;
  width: 350px;
  position: relative;
  overflow: hidden;
}

.container-1 .signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
}

.container-1 .signup .slide-up {
  top: 5%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.container-1 .signup .slide-up .title {
  cursor: pointer;
  font-size: 16px;
}

.container-1 .signup .slide-up span {
  display: inline;
  margin-right: 5px;
  color: #e3001a;
}

.container-1 .title {
  color: #f5f5f5;
  font-size: 28px;
  text-align: center;
}

.container-1 .title span {
  display: none;
}

.container-1 .title .signup .holder {
  border-radius: 15px;
  background-color: #000119;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  margin-top: 50px;
}

.container-1 .input {
  border: none;
  background: transparent;
  outline: none;
  height: 30px;
  padding: 18px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
  width: 100%;
  color: #f5f5f5;
  opacity: 0.7;
}

.input:last-child {
  border-bottom: 0;
}

.input::-webkit-input-placeholder {
  color: #f5f5f5;
}

.input:-ms-input-placeholder {
  color: #f5f5f5;
}

.input::-ms-input-placeholder {
  color: #f5f5f5;
}

.input::placeholder {
  color: #f5f5f5;
}

.submit {
  background-color: #e3001a;
  color: #f5f5f5;
  border: none;
  border-radius: 15px;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.login .submit:last-child {
  background-color: #000119;
}

.login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e3001a;
  z-index: 5;
}

.container-1 .login::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #e3001a;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
}

.center {
  top: calc(50% - 10%);
}

.login .holder {
  border-radius: 15px;
  background-color: #e3001a;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  margin-top: 50px;
}

.login.slide-up {
  top: 90%;
}

.login.slide-up .center {
  top: 10%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.login.slide-up .title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.login.slide-up span {
  color: #f5f5f5;
  display: inline;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */